@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

*{
    background-color:black;
    color: white;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

div{display: block;}

.box{
    border: 3px solid white;
    margin:10px;
    background-color: black;
}

.skills{
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 20px;
    text-align: left;
    margin-top: 5px;
    padding-bottom:none ;
}
.name{
    padding:50px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24pt;
}
.desc{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
    padding-bottom: 10px;
}

.social, a{
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top:0;
    padding-bottom:0;
}
.click{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 8pt;
    padding: 10px;
}