p{
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-family: serif;

}
#paperniy{    animation: 4.25s 1 normal chcolor;}
@keyframes chcolor {
    0%{
        color: rgb(0, 0, 0);
        visibility:visible;
    }
    50%{
        
        color: white;
    }
}
#babelib{
    text-align: left;
    text-decoration: none;
    font-size: 16pt;
    font-family: serif;
}
#box{
    padding-top: 5vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow: hidden;
    word-wrap: break-word;
}
.text{
    width: 50%;
}

button{
    border: solid;
    cursor: pointer;
    
}