@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');
*{
    color: white;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
}
#name{
   background-color: #2A2A2A; 
   text-align: left;
    border-bottom: 1px dotted white;
    font-size: 12pt;
    width: 100%;
}
a{
    font-size: 12pt;
    background-color: #2A2A2A; 
}